<html lang="en">
<body>
<a href='/home'>Home</a>
<h2> Enjoy your pictures </h2>
<table class="image">
	<% pictures.forEach(function(picture) { %>
		<tr><td><img src='<%= picture.file_path %>' height=200 width=300/></td></tr>
		<tr><td class="caption"><%= picture.comment %></td></tr>
    <% }); %>
</ul>
<p>
<a href='/pictures/<%= previousPageStart %>'>Last 10 pictures</a> <br>
<a href='/pictures/<%= lastPicture %>'>Next 10 pictures</a>
</p>
</body>


</html>